# Rename this file to .env and paste your OpenAI API key below
OPENAI_API_KEY=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
